.header {
    position: sticky;
    top: 0px;
}

.main-content {
    overflow-y: auto;
    margin-left: 12.5rem;
}

.video-list {
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


@media only screen and (max-width: 768px) {

 .main-content {
     margin-left: 0px;
 }

 .video-list {
    margin-bottom: 5rem;
}

}


@media only screen and (max-width: 570px) {

    .video-list {
        justify-content: center;
    }
   
   }