.page-content {
    display: flex;
}

.header {
    position: sticky;
    top: 0px;
}


.sidenav {
    height: 100%;
}

@media only screen and (max-width: 768px) {

    .page-content {
        flex-direction: column-reverse;
    }

    .sidenav {
        background-color: var(--primary-bg-color);
        border-top: 1px solid var(--gray-600);
        border-right: 0px;
    }
}